<div class="bg">
  <div class="container">
    <div class="container__box">
      <div class="container__img">
        <div class="container__img-main">
          <img src="../assets/img/slide2.jpg" alt="Image1" id="preview" />
        </div>
        
        <div class="container__img-prev text-center">
          <span class="carousel-control-prev-icon" ><i class="bi bi-arrow-left-circle"></i></span>
          <div class="container__img-slide active">
            <img src="../assets/img/slide2.jpg" alt="Image1" appOrderPageImage>
          </div>
          <div class="container__img-slide">
            <img src="../assets/img/slide1.jpg" alt="Image2" appOrderPageImage>
          </div>
          <div class="container__img-slide">
            <img src="../assets/img/slide2.jpg" alt="Image3" appOrderPageImage>
          </div>
          <div class="container__img-slide">
            <img src="../assets/img/slide3.jpg" alt="Image4" appOrderPageImage>
          </div>
          <div class="container__img-slide">
            <img src="../assets/img/slide1.jpg" alt="Image5" appOrderPageImage>
          </div>
          <span class="carousel-control-prev-icon" ><i class="bi bi-arrow-right-circle"></i></span>
        </div>
      </div>
      <div class="container__text">
          <div class="container__header">
              <div class="container__header-name">
                <h4 style="margin-left: 4px;">
                  Name: {{singleProduct.foodName}}
                </h4>
              </div>
              <div class="container__header-details">
                <h6 style="margin-left: 4px;">
                  Details: {{singleProduct.foodDetails}}
                </h6>
              </div>
              <div class="container__header-price">
                <h6>Price: {{singleProduct.foodPrice}} </h6>
              </div>
              <div class="container__header-report">
                
              </div>
          </div>
          <div class="container__body">
            
          </div>
          <div class="container__footer">
            
          </div>
      </div>
    </div>
    <div class="btn">

    </div>
  </div>
</div>