<div class="footer">
    <div class="">
        <!-- Name -->
        <div class="col-lg-4">
            <h1>FOODSTUFFS</h1>
            <p>Eat Everything!</p>
        </div>
        <!-- Nav -->
        <div class="clo-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
            <a routerLink="helps">Helps</a>
        </div>
        <!-- Social Media -->
        <div class="footer-socialmedia">
            <ul class="footer-media-a">
                <li class="footer-media ">
                    <a class="no-pointer" routerLink="#">
                        Hotline: 098 7654 321.
                        <br/>
                        Email: FoodWeb@gmail.com.
                        </a>
                </li>
                <li class="footer-media ">
                    <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
                    <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
                </li>
            </ul>
    </div>
</div>
