<div class="background">
    <div class="menu-item food">
        <div class="menu-item-click root">
            <h1 style="color: rgb(224, 222, 222)">FOOD</h1>
            <a routerLink="food" >CLICK NOW</a>
        </div>  
    </div>
    <div class="menu-item drink">     
        <div class="menu-item-click root">
            <h1 style="color: rgb(224, 222, 222)">DRINK</h1>
            <a routerLink="drink" >CLICK NOW</a>
        </div>
    </div>
    <div class="menu-item fruit">  
        <div class="menu-item-click root">
            <h1 style="color: #0b0c0c">FRUIT</h1>
            <a routerLink="fruit" >CLICK NOW</a>
        </div>
    </div>
</div>


