.bg{
    background-color:rgba(0,0,0, 0.1);
    width: 100%;
    height: 800px;
}
.container{
    position: absolute;
    width: 70%;
    height: 800px;
    left: 14%;
    background-color: white;
}
.container__box{
    width: 100%;
    height: 600px;
    display: flex;
}
.container__img{
    width: 50%;
    height: 600px;
}
.container__img-main{
    margin-top: 10px;
    margin-right: 10px;
}
.container__img-main img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
    cursor:zoom-in;
}
.container__img-prev{
 margin-top:10px ;
 
}
.container__img-slide{
    display:inline-block;
    width: 15%;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;

}
.container__img-slide img{
    width: 100%;
    height: 60px;
    object-fit: cover;  
}
.active{
    border: 2px solid rgb(206, 10, 10);
}

// text//
.container__text{
    width: 50%;
    height: 600px;
}
.container__header{
    margin-top: 10px;
    width: 100%;
    height: 200px;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 4px;
}
.container__body{
    width: 100%;
    height: 378px;
}
.container__footer{
    width: 100%;
    height: 50px;
    display:flex;
}
.container__header-name{
    height: 60px;
    margin-top: 10px;
}
.container__header-details{
    height: 80px;
}
.container__header-price{
    height: 37px;
}
.container__header-report{
    height: 23px ;
    display:flex;
    width: 100%;
}
.container__header-report .icon{
    height: 23px;
    border-radius: 2px;
    display:flex;
}
.container__header-report .star-icon{
    width: 80%;
    height: 23px;
    display: flex;
}
.container__header-report .star-icon i{
    margin-left: 4px ;
}
.container__header-report .score{
    width: 10%;
    height: 23px;
}
.container__header-report .media-icon{
    width: 10%;
    height: 23px;
}
.container__body-header{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.container__body-options{
    display:flex;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.container__body-text{
    width: 60%;
    background-color: rgba(0,0,0, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.contain_body-price{
    width: 13%;
    background-color: rgba(0,0,0, 0.1);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.contain_body-quantity{
    width: 27%;
}
.container__footer-item{
    width: 100%;
    height: 34px;
}
.container__footer-button{
    width: 48%;
    margin:0px 10px 0px 8px;
    border: 0;
    border-radius: 4px ;
    background-color: #eee;
    &:hover{
        background-color: var(--primary-color);
        color:  var(--third-color);
    }
}
//quantity//
form {
    width: 158px;
    text-align: center;
    height: 40px;
  }
  
  .value-button {
    display: inline-block;
    // border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    // vertical-align: middle;
    padding: 7px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
    background:rgb(183, 182, 182);
  }
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  input#number {
    text-align: center;
    border: none;
    // border-top: 1px solid #ddd;
    // border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

