<div class="auth-background">
    <div class="auth-body left-side">
        <!-- left side/ slide show -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                </div>
                <div class="carousel-item">
                </div>
                <div class="carousel-item">
                </div>
            </div>
        </div>
    </div>
    <div class="auth-body right-side">
        <!-- right side -->
        <div class="auth-body-inside">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>