.navbar-label {
height: 40px;
width: 40px;
border-radius: 40%;
}

.active-link {
    font-weight:bold;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link.active-link{
    color: rgb(255, 255, 255);
}

.dropdown-menu{
    background-color: #212529;
}

.dropdown-item {
    color: white;

    &:hover{
        color: #212529;
    }
}

.dropdown-divider{
    border-top:1px solid rgb(167, 160, 160);
}

.btn-outline-success{
    color: white;
    border: 1px solid white;

    &:hover{
        background-color: rgb(199, 191, 191);
    }
}

.cart-value{
    position: absolute;
    background: #e8e8e8;
    border-radius: 50%;
    color: black;
    height: 22px;
    width: 22px;
    top: 9px;
    text-align: center;
    left: 426px;
}